<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu of McDonald's</title>
</head>
<body>
    <h1>Home of McDonald's</h1>
    <p>Welcome to the official McDonald's website!</p>
    <h2>Our Menu</h2>
    <ul>
        <li>Burgers</li>
        <li>Fries</li>
        <li>Salads</li>
        <li>Drinks</li>
        <li>Desserts</li>
        <ul>
            <li>Ice Cream</li>
            <li>Milkshakes</li>
            <li>Softie</li>
            <li>Apple Pie</li>
        </ul>
    </ul>
</body>
</html>